<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto card-auth">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="card-title text-center"><b><span style="font-size:1.4em; color:#0052D4">∞</span> Infinity Drive</b></h1>
          <h5 class="card-title text-center">Password Reset</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="password" id="pass" [(ngModel)]="upass" name="pass" #pass="ngModel" class="form-control" placeholder="Password" required autofocus>
              <label for="pass" *ngIf="!(upass.length < 7  && (pass.dirty || pass.touched))">Password</label>
              <label for="pass" *ngIf="(upass.length < 7  && (pass.dirty || pass.touched))" style="color: red">Password min length is 7</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="cpass" [(ngModel)]="ucpass" name="cpass" #cpass="ngModel" class="form-control" placeholder="Confirm Password" required autofocus>
              <label for="cpass" *ngIf="!(upass != ucpass  && (cpass.dirty || cpass.touched))">Confirm Password</label>
              <label for="cpass" *ngIf="(upass != ucpass  && (cpass.dirty || cpass.touched))" style="color: red">Password does not match</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="resetPassword()" [disabled]="((loading)||(upass != ucpass) || (pass.length < 7) || (upass.length < 7))" >Reset</button>

            <a routerLink="/Login" class="point" style="color: dodgerblue">Sign In</a>
            <div style="clear: both"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
