<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto card-auth">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Password Reset</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="password" id="pass" [(ngModel)]="upass" name="pass" #pass="ngModel" class="form-control" placeholder="Email address" required autofocus>
              <label for="pass">Password</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="cpass" [(ngModel)]="ucpass" name="cpass" #cpass="ngModel" class="form-control" placeholder="Email address" required autofocus>
              <label for="cpass">Confirm Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="resetPassword()" [disabled]="((loading)||(upass != ucpass) || (pass.length < 7) || (upass.length < 7))" >Reset</button>

            <a routerLink="" class="point" style="color: dodgerblue">Sign In</a>
            <div style="clear: both"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
