<div class="bodyCard p-5 shadow">

  <div class="actions" style="font-size:1.1em">
    <h4 style="display:inline-block">Settings</h4>
    <i class="fas fa-archive point float-right blueHoverFont" routerLink="/Dashboard/Accounts" ngbTooltip="Accounts"></i>
  </div>

    <hr>

    <div class="row align-items-center no-gutters setting-row" *ngFor="let item of settings | keyvalue">
      <div class="col-12 col-sm-11" *ngIf="item.key == 'forceEqualSplit'">
        Force Splitting into equal parts for each account
      </div>
      <div class="col-12 col-sm-11" *ngIf="item.key == 'highlightSplitFiles'">
        Highlight split files
      </div>
      <div class="col-12 col-sm-11" *ngIf="item.key == 'showAccountsInDashboard'">
        Show accounts in dashboard
      </div>
      <div class="col-12 col-sm-11" *ngIf="item.key == 'showSplitParts'">
        Show split parts
      </div>

      <div class="col-12 col-sm-1">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="item.value" (ngModelChange)="changeSetting(item)">
          <span class="slider"></span>
        </label>
      </div>
    </div>
   
    <hr>

  <button class="btn btn-primary" (click)="saveSettings()">Save</button>

</div>
