<div class="bodyCard p-5 shadow">
  <div class="name">
    <h3>Connected Accounts</h3>
  </div>

  <div class="actions" style="font-size:1.1em">
    <i class="fas fa-plus point" data-toggle="modal" data-target="#accountsModal" ngbTooltip="Link Account"></i>
  </div>

  <app-spinner *ngIf="loading"></app-spinner>

  <div class="table-responsive">
    <table class="table table-hover" *ngIf="accounts.length !== 0 && !loading">
      <thead>
        <tr>
          <th class="d-none d-lg-block border-fix">#</th>
          <th class="border-fix">Account</th>
          <th class="border-fix">Email</th>
          <th class="border-fix">Used</th>
          <th class="border-fix">Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let a of accounts; let i = index">

          <th class="d-none d-lg-block">{{i+1}}</th>

          <td>
            <a routerLink="../Storage/{{a['_id']}}">
              <i class="fab fa-dropbox" *ngIf="a.accountType == 'dropbox'"></i>
              <i class="fab fa-google-drive" *ngIf="a.accountType == 'gdrive'"></i>
              <i class="fas fa-cloud" *ngIf="a.accountType == 'odrive'"></i>
              {{a['account']}}
            </a>
          </td>

          <td class="point" (click)="accountNavigate(a['_id'])">{{a['email']}}</td>

          <td>
            <div class="progress" style="height: 20px">
              <div class="progress-bar" role="progressbar"
                [ngStyle]="{'width': getSizeInGb(a.storage.used)/getSizeInGb(a.storage.total)*100+'%', 'color': 'black'}">
                {{ getSizeInGb(a.storage.used) + 'GB / ' + getSizeInGb(a.storage.total) + 'GB'}}
              </div>
            </div>
          </td>

          <td>
            <a class="nav-link dropdown-toggle" href="#" id="individualnavbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="individualnavbarDropdown">
              <!-- <a class="dropdown-item">Edit</a> -->
              <a (click)="removeAccount(a['_id'])" class="dropdown-item point">Unlink</a>
            </div>
          </td>

        </tr>

      </tbody>

    </table>

    <div *ngIf="accounts.length === 0 && !loading">
      <h5 class="text-muted">You haven't connected any accounts to Infinity Drive. Connect an account to get started.
      </h5>
      <button data-toggle="modal" data-target="#accountsModal" class="btn btn-primary">Add Account</button>
    </div>

  </div>

  <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountsModalTitle">Select a service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body accounts">
          <div class="account" (click)="addDrive('gdrive')">
            <img src="../../assets/images/gdrive.png" style="width:30px;height:auto;" class="mr-2">
            <h6 style="display: inline">Google Drive</h6>
          </div>
          <div class="account" (click)="addDrive('odrive')">
            <img src="../../assets/images/odrive.png" style=" width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">OneDrive</h6>
          </div>
          <div class="account" (click)="addDrive('dropbox')">
            <img src="../../assets/images/dropbox.png" style="width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">Dropbox</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>