<div class="bodyCard">

  <div class="name"><h3 >{{name}}</h3></div>
  <div class="actions">
    <span class="oi" data-glyph="data-transfer-upload" data-toggle="modal" data-target="#accountsModal"></span>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" class="border-fix">#</th>
      <th scope="col" class="border-fix">Name</th>
      <th scope="col" class="d-none d-lg-block border-fix">Account</th>
      <th scope="col" class="border-fix">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of accounts; let i = index">
      <th scope="row">{{i}}</th>
      <td><a [routerLink]="'Storage/'+a.token">{{a['accountType']}}</a></td>
      <td class="d-none d-lg-block ">abbas@gmail.com</td>
      <td>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Edit</a>
          <a class="dropdown-item" href="#">Unlink</a>
        </div>
      </td>
    </tr>
    </tbody>

    <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="accountsModalTitle">Select a service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body accounts">
            <div class="account" (click)="adddGoogleDrive()">
              <img src="../../assets/images/google-drive-logo.png"><h6 style="display: inline">Google Drive</h6>
            </div>
          </div>
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>

  </table>
</div>
