<div id="content">

  <nav class="navbar navbar-fixed shadow navbar-light bg-white">

    <div class="container-fluid">

      <a routerLink="../Dashboard" class="navbar-brand text-uppercase font-weight-bold">
        <span style="font-size:1.4em; color:#0052D4">∞</span> Infinity Drive
      </a>
      <button class="btn btn-primary" routerLink="/Login">Get Started</button>


    </div>
  </nav>

  <div class="container">
    <div style="text-align: center">
      <p style="font-size: 3em; margin-top: 80px;font-family: 'Open Sans Condensed', sans-serif;"><b>Privacy Policy</b>
      </p>
    </div>
    <p style="float: left">At Infinity Drive, we recognize that privacy is important. In order to deliver Infinity drive
      to you, we may collect the following types of information:</p>
    <h4 style="float: left">Cookies or tokens:</h4>
    <p style="float: left; margin-left: 10%">When you use Infinity Drive, we send a small file containing a string of characters to your computer or other device that uniquely identifies your browser. This is called a “cookie” when you are visiting a website such as Infinity Drive. This is called a “token” when accessing a service at the desktop or mobile device. We use cookies and tokens to improve the quality of our service, including for storing user preferences. You can choose to disable all cookies or tokens, but Infinity drive may not function properly if you disable them.</p>

    <h4 style="float: left">User communications:</h4>
    <p style="float: left; margin-left: 10%">When you send email or other communications to Infinity drive, we may retain those communications in order to process your inquiries and respond to your requests.</p>

    <h4 style="float: left">Storing content:</h4>
    <p style="float: left; margin-left: 10%">We don’t actually store any of your content. Your content is stored on the Third Party Sources you have already chosen to store your content. We simply provide you access to the content.

      Other Third Party Sources – The privacy policy of any Third Party Sources does not apply to your use of Infinity Drive.</p>
  </div>

</div>
