<div id="content">

  <nav class="navbar navbar-fixed shadow navbar-light bg-white">

    <div class="container-fluid">

      <a routerLink="../Dashboard" class="navbar-brand text-uppercase font-weight-bold">
        <span style="font-size:1.4em; color:#0052D4">∞</span> Infinity Drive
      </a>
      <button class="btn btn-primary" routerLink="/Login">Get Started</button>


    </div>
  </nav>
</div>

<div style="text-align: center; margin-top: 80px; margin-bottom: 80px">
  <p style="font-size: 2.5em"><span style="color:#0052D4">∞</span> Infinity Drive</p>
  <p style="font-size: 3em; margin-top: 80px;font-family: 'Open Sans Condensed', sans-serif;">One Solution for all cloud
    storages</p>
  <p style="font-size: 4.5em;"><b>Cloud storage is better when it's unified</b></p>
  <button class="btn btn-primary" routerLink="/Login">Get Started</button>

  <p style="font-size: 3em; margin-top: 80px;font-family: 'Open Sans Condensed', sans-serif;"><b>Unified Storage</b></p>
  <p style="width: 40%; margin: auto">Cloud storage is better when it's unified. Infinity drive aggregates all your
    accounts into one system. One password, one application</p>

  <p style="font-size: 3em; margin-top: 80px;font-family: 'Open Sans Condensed', sans-serif;"><b>Supported Storages</b>
  </p>
  <p style="width: 40%; margin: auto">Infinity Drive supports 3 most famous storages and these are.</p>
  <p style="width: 40%; margin: auto">

    <i class="fab fa-dropbox fa-8x" style="color: dodgerblue; margin: 20px"></i>
    <i class="fab fa-google-drive fa-8x" style="color: dodgerblue; margin: 20px"></i>
    <i class="fas fa-cloud fa-8x" style="color: dodgerblue; margin: 20px"></i>
  </p>

  <p style="font-size: 3em; margin-top: 80px;font-family: 'Open Sans Condensed', sans-serif;"><b>Merge Storage</b></p>
  <p style="width: 40%; margin: auto">Infinity Drive can merge your cloud storage from different account into one giant pool of storage so you wouldn't have to worry about your free storage sunning out.</p>


</div>
