<div class="bodyCard p-5 shadow">

  <div *ngIf="accounts.length!==0" class="d-none d-sm-block">
    <div>
      <div style="height: 330px ; width: 60%; display: inline-block">
        <canvas width="100%" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [chartType]="barChartType">
        </canvas>
      </div>
      <div style="height: 330px ; width: 40%; display: inline-block">
        <ngx-charts-gauge [units]="'GB'" [max]="guageMax"  [results]="guageGraphData"></ngx-charts-gauge >
      </div>

    </div>
  </div>

  <div class="table-responsive">

    <div class="name">
      <!--<h3 class="point" style="color:dodgerblue"><a (click)="getFiles()">Files</a></h3>-->

      <ol class="breadcrumb">
        <li class="breadcrumb-item point" style="color: dodgerblue" (click)="getFiles()">Infinity Drive</li>
        <li *ngFor="let crum of breadCrumbs;let i = index" style="color: dodgerblue"
          (click)="breadCrumbNavigation(crum,i)" class="breadcrumb-item point">{{crum.name}}
        </li>
      </ol>
    </div>

    <div class="actions mt-3" style="font-size:1.1em">
      <i class="fas fa-plus mr-3 point blueHoverFont" data-toggle="modal" data-target="#accountsModal" ngbTooltip="Link Account"></i>
      <i class="fas fa-file-upload mr-3 point blueHoverFont" data-toggle="modal" data-target="#uploadmodal" ngbTooltip="Upload"></i>
      <i class="fas fa-archive mr-3 point blueHoverFont" routerLink="/Dashboard/Accounts" ngbTooltip="Accounts"></i>
      <i class="fas fa-sync-alt point blueHoverFont" (click)="refresh()" ngbTooltip="Refresh"></i>
    </div>

    <div style="clear:both"></div>

    <app-spinner *ngIf="loading"></app-spinner>

    <div class="form-group float-right mr-1" *ngIf="!loading && temp.length != 0">
      <input type="text" class="search form-control" placeholder="Search" (keyup)='updateFilter($event)'>
    </div>
    <span *ngIf="!loading && files.length != 0" class="counter float-right mt-2 mr-1">{{files.length}} files </span>

    <table class="table table-hover" *ngIf="!loading && files.length != 0">
      <thead>

        <tr>
          <th scope="col" class="border-fix point" (click)="sortByKey('name')">
            <span ngbTooltip="Sort by file name">Name </span>
            <span *ngIf="sort.name != undefined && sort.name"><i class="fas fa-long-arrow-alt-up"></i></span>
            <span *ngIf="sort.name != undefined && !sort.name"><i class="fas fa-long-arrow-alt-down"></i></span>
          </th>

          <th *ngIf="userSettings.showAccountsInDashboard" scope="col" class="d-none d-lg-block border-fix point"
            (click)="sortByKey('account')">
            <span ngbTooltip="Sort by account">Account </span>
            <span *ngIf="sort.account != undefined && sort.account"><i class="fas fa-long-arrow-alt-up"></i></span>
            <span *ngIf="sort.account != undefined && !sort.account"><i class="fas fa-long-arrow-alt-down"></i></span>
          </th>

          <th scope="col" class="border-fix point" (click)="sortByKey('size')">
            <span ngbTooltip="Sort by file size">Size </span>
            <span *ngIf="sort.size != undefined && sort.size"><i class="fas fa-long-arrow-alt-up"></i></span>
            <span *ngIf="sort.size != undefined && !sort.size"><i class="fas fa-long-arrow-alt-down"></i></span>
          </th>

          <th scope="col" class="border-fix d-none d-md-block point" (click)="sortByKey('modifiedTime')">
            <span ngbTooltip="Sort by modified time">Modified Time </span>
            <span *ngIf="sort.modifiedTime != undefined && sort.modifiedTime"><i
                class="fas fa-long-arrow-alt-up"></i></span>
            <span *ngIf="sort.modifiedTime != undefined && !sort.modifiedTime"><i
                class="fas fa-long-arrow-alt-down"></i></span>
          </th>

          <th scope="col" class="border-fix">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of files | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i = index">

          <div *ngIf="f.mimeType=='folder'; then folder ; else file">
          </div>

          <ng-template #folder>
            <td class="td-word-wrap" (click)="navigateToAccountFolder(f.accountId,f.id,f.name)">
              <a href="javascript:;">
                <i class="fas fa-folder"></i>
                {{f.name}}
              </a>
            </td>
          </ng-template>

          <ng-template #file>
            <td *ngIf="f.accountType != 'merged'; else mergedDownload" (click)="getDownloadLink(f)"
              class="td-word-wrap point">
              <i class="fas fa-file"></i>
              {{f.name}}
            </td>
            <ng-template #mergedDownload>
              <td (click)="getDownloadStream(f)" class="td-word-wrap point">
                <span *ngIf="userSettings.highlightSplitFiles">
                  <i class="fas fa-infinity" style="color:#0052D4"
                    ngbTooltip="This file is split across multiple accounts"></i>
                </span>
                <span *ngIf="!userSettings.highlightSplitFiles">
                  <i class="fas fa-file"></i>
                </span>
                {{f.name}}
              </td>
            </ng-template>

          </ng-template>

          <!-- Optional accounts column (set with settings) -->
          <td class="d-none d-lg-block" *ngIf="userSettings.showAccountsInDashboard">
            <ng-template #tipContent>{{getAccountEmail(f.accountId)}}</ng-template>

            <a *ngIf="f.accountType !== 'merged'; else merged" style="color: dodgerblue"
              (click)="navigateToAccount(f.accountId)" class="point" [ngbTooltip]="tipContent">
              <i class="fab fa-dropbox" *ngIf="f.accountType == 'dropbox'"></i>
              <i class="fab fa-google-drive" *ngIf="f.accountType == 'gdrive'"></i>
              <i class="fas fa-cloud" *ngIf="f.accountType == 'odrive'"></i>
              {{f.account}}
            </a>
            <ng-template #merged>
              <span ngbTooltip="This file is split across multiple accounts">
                <i class="fas fa-infinity"></i> Infinity Drive
              </span>
            </ng-template>
          </td>
          <!-- Optional accounts column end -->

          <td scope="col" class="border-fix">{{ getSizeInMb(f.size) }}</td>
          <td scope="col" class="border-fix d-none d-md-block">{{ getModifiedTime(f.modifiedTime) }}</td>
          <td>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item point" (click)="deleteFile(f)">
                <i class="fas fa-trash"></i> Delete
              </a>
              <a class="dropdown-item point" (click)="getProperties(f)">
                <i class="fas fa-info-circle"></i> Properties
              </a>
              <a *ngIf="f.mimeType !='folder'" class="dropdown-item point"
                (click)="shareFile(f.id, f.name, f.size, f.mimeType, f.accountId, f.accountType)">
                <i class="fas fa-share-alt"></i> Share File
              </a>
              <!-- <a class="dropdown-item">Share</a> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-center"
      *ngIf="!loading && files.length > 0 && pageSize < files.length" [collectionSize]="files.length" [(page)]="page"
      [boundaryLinks]="true" [maxSize]="10" [rotate]="true" [pageSize]="pageSize" [boundaryLinks]="true">
    </ngb-pagination>


    <h5 style="text-align:center" class="text-muted m-5" *ngIf="!loading && files.length == 0">
      No files here
    </h5>
  </div>

  <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">File Upload</h5>
          <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" onsubmit="upl">
            <input class="" type="file" id="file" name="myfile" (change)="handleFileInput($event.target.files)"
              *ngIf="uploadProgress == 0">
            <input style="float:right" class="btn btn-primary" type="button" value="Upload" (click)="uploadFile()"
              *ngIf="uploadProgress == 0">
            <div *ngIf="uploadProgress != 0">
              <h4> Uploading...</h4>
              <div class="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                  [ngStyle]="{ 'width': uploadProgress + '%'}">
                  {{uploadProgress}} %
                </div>
              </div>
            </div>

            <label class="mt-3" *ngIf="fileToUpload">
              <input type="checkbox" (change)="advancedUpload = !advancedUpload">
              Advanced options
            </label>

            <div [ngbCollapse]="advancedUpload">
              <div class="card">
                <div class="card-body">
                  Upload to:
                  <p *ngFor="let account of getFilteredAccounts()">
                    <label><input (change)="selectAccounts($event, account)" type="checkbox"> {{account.account}}
                      ({{account.email}})</label>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountsModalTitle">Select a service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body accounts">
          <div class="account" (click)="addDrive('gdrive')">
            <img src="../../assets/images/gdrive.png" style="width:30px;height:auto;" class="mr-2">
            <h6 style="display: inline">Google Drive</h6>
          </div>
          <div class="account" (click)="addDrive('odrive')">
            <img src="../../assets/images/odrive.png" style=" width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">OneDrive</h6>
          </div>
          <div class="account" (click)="addDrive('dropbox')">
            <img src="../../assets/images/dropbox.png" style="width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">Dropbox</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
