<div class="bodyCard p-5 shadow">

  <div class="table-responsive">

    <canvas *ngIf="accounts.length!==0" height="80" baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType" [options]="barChartOptions">
    </canvas>

    <div class="name">
      <h3 class="point" style="color:dodgerblue"><a (click)="getFiles()">Files</a></h3>
    </div>

    <div class="actions">
      <span class="oi" data-glyph="plus" data-toggle="modal" data-target="#accountsModal" data-tooltip="tooltip" title="Link Account"></span>
      <span class="oi" data-glyph="data-transfer-upload" data-toggle="modal" data-target="#uploadmodal" data-tooltip="tooltip"
        title="Upload"></span>
      <span routerLink="/Dashboard/Accounts" class="oi" data-glyph="cog" data-tooltip="tooltip" title="Accounts"></span>
    </div>

    <div style="clear:both"></div>

    <app-spinner *ngIf="loading"></app-spinner>

    <table class="table table-hover" *ngIf="!loading && files.length != 0">
      <thead>
        <tr>
          <th scope="col" class="border-fix">Name</th>
          <th scope="col" class="d-none d-lg-block border-fix">Account</th>
          <th scope="col" class="border-fix">Size</th>
          <th scope="col" class="border-fix d-none d-md-block">Modified</th>
          <th scope="col" class="border-fix">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of files; let i = index">

          <div *ngIf="f.mimeType=='folder'; then folder ; else file">
          </div>

          <ng-template #folder>
            <td class="td-word-wrap" (click)="getFolderItems(f)">
              <a href="javascript:;">
                <span class="oi" data-glyph="folder"></span>
                {{f.name}}
              </a>
            </td>
          </ng-template>

          <ng-template #file>
            <td (click)="getDownloadLink(f)" class="td-word-wrap point">
              <span class="oi" data-glyph="file"></span>
              {{f.name}}
            </td>
          </ng-template>

          <td class="d-none d-lg-block">
            <a routerLink="../Dashboard/Storage/{{f.accountId}}">{{f.account}}</a>
          </td>
          <td scope="col" class="border-fix">{{ getSizeInMb(f.size) }}</td>
          <td scope="col" class="border-fix d-none d-md-block">{{ getModifiedTime(f.modifiedTime) }}</td>
          <td>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item point" (click)="deleteFile(f)">Delete</a>
              <!-- <a class="dropdown-item">Share</a> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h5 style="text-align:center" class="text-muted m-5" *ngIf="!loading && files.length == 0">
      No files here
    </h5>
  </div>

  <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">File Upload</h5>
          <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" onsubmit="upl">
            <input class="" type="file" id="file" name="myfile" (change)="handleFileInput($event.target.files)" *ngIf="uploadProgress == 0">
            <input style="float:right" class="btn btn-primary" type="button" value="Upload" (click)="uploadFile()"
              *ngIf="uploadProgress == 0">
            <div *ngIf="uploadProgress != 0">
              <h4> Uploading...</h4>
              <div class="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{ 'width': uploadProgress + '%'}">
                  {{uploadProgress}} %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="accountsModal" tabindex="-1" role="dialog" aria-labelledby="accountsModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="accountsModalTitle">Select a service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body accounts">
          <div class="account" (click)="addDrive('gdrive')">
            <img src="../../assets/images/gdrive.png" style="width:30px;height:auto;" class="mr-2">
            <h6 style="display: inline">Google Drive</h6>
          </div>
          <div class="account" (click)="addDrive('odrive')">
            <img src="../../assets/images/odrive.png" style=" width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">OneDrive</h6>
          </div>
          <div class="account" (click)="addDrive('dropbox')">
            <img src="../../assets/images/dropbox.png" style="width:40px;height:auto;" class="mr-3">
            <h6 style="display: inline">Dropbox</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
