<div class="bodyCard p-5 shadow">

  <div class="table-responsive">

    <div class="actions mt-3" style="font-size:1.1em">
      <i class="fas fa-archive mr-3 point" routerLink="/Dashboard/Accounts" ngbTooltip="Accounts"></i>
    </div>

    <div style="clear:both"></div>

    <div class="form-group float-right mr-1" *ngIf="!loading">
      <input type="text" class="search form-control" placeholder="Search" (keyup)='updateFilter($event)'>
    </div>
    <span *ngIf="!loading" class="counter float-right mt-2 mr-1">{{files.length}} files </span>

    <app-spinner *ngIf="loading"></app-spinner>

    <table class="table table-hover" *ngIf="!loading && files.length != 0">
      <thead>
      <tr>

        <th scope="col" class="border-fix point" (click)="sortByKey('fileName')">
          <span ngbTooltip="Sort by file name">Name </span>
          <span *ngIf="sort.fileName != undefined && sort.fileName"><i class="fas fa-long-arrow-alt-up"></i></span>
          <span *ngIf="sort.fileName != undefined && !sort.fileName"><i class="fas fa-long-arrow-alt-down"></i></span>
        </th>

        <th scope="col" class="border-fix point" (click)="sortByKey('fileSize')">
          <span ngbTooltip="Sort by file size">Size </span>
          <span *ngIf="sort.fileSize != undefined && sort.fileSize"><i class="fas fa-long-arrow-alt-up"></i></span>
          <span *ngIf="sort.fileSize != undefined && !sort.fileSize"><i class="fas fa-long-arrow-alt-down"></i></span>
        </th>

        <th scope="col" class="border-fix d-none d-md-block">
          <span>Share Link </span>
        </th>

        <th scope="col" class="border-fix">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let f of files | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let i = index">

          <td class="td-word-wrap">
            <i class="fas fa-file"></i>
            {{f.fileName}}
          </td>


        <td scope="col" class="border-fix">{{ getSizeInMb(f.fileSize) }}</td>
        <td>
          <i class="fas fa-link point" ngbTooltip="File Share Link"></i>
        </td>
        <td>
          <i class="fas fa-trash point" ngbTooltip="Click to delete"></i>
        </td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-center"
                    *ngIf="!loading && files.length > 0 && pageSize < files.length" [collectionSize]="files.length" [(page)]="page"
                    [boundaryLinks]="true" [maxSize]="10" [rotate]="true" [pageSize]="pageSize" [boundaryLinks]="true">
    </ngb-pagination>

    <h5 style="text-align:center" class="text-muted m-5" *ngIf="!loading && files.length == 0">
      No files here
    </h5>
  </div>

  <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">File Upload</h5>
          <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" onsubmit="upl">
            <input class="" type="file" id="file" name="myfile" (change)="handleFileInput($event.target.files)"
                   *ngIf="uploadProgress == 0">
            <input style="float:right" class="btn btn-primary" type="button" value="Upload" (click)="uploadFile()"
                   *ngIf="uploadProgress == 0">
            <div *ngIf="uploadProgress != 0">
              <h4> Uploading...</h4>
              <div class="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     [ngStyle]="{ 'width': uploadProgress + '%'}">
                  {{uploadProgress}} %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
