<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{'active': isOpened}">

    <div id="dismiss" (click)="toggleSidebar()">
      <i class="point" class="fas fa-arrow-left mt-3"></i>
    </div>

    <div class="sidebar-header m-4">
      <h5 class="text-uppercase font-weight-bold">Menu</h5>
    </div>

    <ul class="list-unstyled components">
      <a (click)="toggleSidebar()" routerLink="/Dashboard"
        class="list-group-item list-group-item-action text-uppercase font-weight-bold">
        <i class="fas fa-home"></i>
        Dashboard
      </a>

      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#test" aria-expanded="true">
        <span class="text-uppercase font-weight-bold">
          <i class="fas fa-archive"></i>
          Accounts</span>

        <div id="test" class="panel-collapse collapse show">

          <ul class="list-group">

            <li *ngFor="let account of accounts" class="list-group-item"
              style="border: none; font-size: 0.7em; background: #F8F9FA" (click)="toggleSidebar()"
              routerLink="Storage/{{account['_id']}}">
              <i class="fab fa-dropbox" *ngIf="account.accountType == 'dropbox'"></i>
              <i class="fab fa-google-drive" *ngIf="account.accountType == 'gdrive'"></i>
              <i class="fas fa-cloud" *ngIf="account.accountType == 'odrive'"></i>
              {{account['email']}}
            </li>

            <li *ngIf="totalAccounts>accountsLimit" class="list-group-item"
              style="border: none;color: dodgerblue; font-size: 0.7em; background: #F8F9FA" (click)="toggleSidebar()"
              routerLink="Accounts">
              {{totalAccounts-accountsLimit}} more accounts
            </li>

            <li *ngIf="totalAccounts <= accountsLimit && totalAccounts > 0" class="list-group-item"
              style="border: none; font-size: 0.7em; background: #F8F9FA; color: dodgerblue" (click)="toggleSidebar()"
              routerLink="Accounts">
              All Accounts
            </li>

            <li *ngIf="totalAccounts == 0" class="list-group-item"
              style="border: none; font-size: 0.7em; background: #F8F9FA; color: dodgerblue" (click)="toggleSidebar()"
              routerLink="Accounts">
              No accounts added
            </li>

          </ul>
        </div>
      </a>
      <a routerLink="SharedFiles" (click)="toggleSidebar()"
        class="list-group-item list-group-item-action text-uppercase font-weight-bold">
        <i class="fas fa-share-alt"></i>
        Shared Files
      </a>
      <a routerLink="/Dashboard/Settings" (click)="toggleSidebar()"
        class="list-group-item list-group-item-action text-uppercase font-weight-bold">
        <i class="fas fa-cogs"></i>
        Settings
      </a>
      <a href="javascript:;" (click)="logout()"
        class="list-group-item list-group-item-action text-uppercase font-weight-bold">
        <i class="fas fa-sign-out-alt"></i>
        Sign out
      </a>
    </ul>
  </nav>

  <div (click)="toggleSidebar()" [ngClass]="{'overlay active': isOpened}"></div>

  <div id="content">

    <nav class="navbar navbar-fixed shadow navbar-light bg-white">

      <div class="container-fluid">

        <button (click)="toggleSidebar()" style="background:transparent; border:0">
          <i ngClass="point" class="fas fa-bars"></i>
        </button>

        <a routerLink="../Dashboard" class="navbar-brand text-uppercase font-weight-bold">
          <span style="font-size:1.4em; color:#0052D4">∞</span> Infinity Drive
        </a>

        <a data-toggle="dropdown" class="dropdown-toggle" style="font-size: 1.2em; color:#191919">
          <i class="fas fa-user-circle"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow">
          <a class="dropdown-item point">
            Signed in as <b>{{userName}}</b>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/Dashboard/Accounts">
            <i class="fas fa-archive fa-sm fa-fw mr-2"></i>
            Accounts
          </a>
          <a class="dropdown-item" routerLink="/Dashboard/Settings">
            <i class="fas fa-cogs fa-sm fa-fw mr-2"></i>
            Settings
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:;" (click)="logout()">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
            Sign out
          </a>
        </div>

      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>

</div>
