<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{'active': isOpened}">

    <div id="dismiss" (click)="toggleSidebar()">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header m-4">
        <h5 class="text-uppercase font-weight-bold">Infinity Drive</h5>
    </div>

    <ul class="list-unstyled components">
        <a (click)="toggleSidebar()" routerLink="/Dashboard" class="list-group-item list-group-item-action text-uppercase font-weight-bold">Dashboard</a>
        <a (click)="toggleSidebar()" routerLink="/Dashboard/Accounts" class="list-group-item list-group-item-action text-uppercase font-weight-bold">Accounts</a>
        <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold">Profile</a>
        <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold">Settings</a>
        <a href="#" (click)="logout()" class="list-group-item list-group-item-action text-uppercase font-weight-bold">Logout</a>
    </ul>
  </nav>

  <!-- Page Content -->
  <!-- Dark Overlay element -->
  <div (click)="toggleSidebar()" [ngClass]="{'overlay active': isOpened}"></div>

  <div id="content">

    <nav class="navbar navbar-fixed navbar-expand-lg shadow navbar-light bg-white">
      <div class="container-fluid">
        <div class="d-flex">
          <button (click)="toggleSidebar()" style="background:transparent; border:0" class="mr-4 mt-1">
            <span class="oi" data-glyph="menu"></span>
          </button>
          <a routerLink="../Dashboard" class="navbar-brand text-uppercase font-weight-bold">
            <span style="font-size:1.4em; color:#0052D4">∞</span> Infinity Drive
          </a>

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a href="index.html" data-toggle="dropdown" class="nav-link dropdown-toggle text-uppercase font-weight-bold"
                style="color:#191919">
                {{ userName }}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <!-- <a class="dropdown-item" href="#">Settings</a> -->
                <!-- <div class="dropdown-divider"></div> -->
                <a class="dropdown-item point" (click)="logout()">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

</div>