.bodyCard
{
  background: white;
  width: 80%;
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  padding: 10px;
}

.actions > span
{
  margin: 5px;
  cursor: pointer;
}
.name
{
  float: left;
}
.border-fix{
  border-bottom: none;
}

.switch input { 
    display:none;
}
.switch {
    /* display:inline-block; */
    width:40px;
    height:20px;
    transform:translateY(50%);
    /* position:relative; */
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:20px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:20px;
    transform:translateX(-20px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(20px);
    background:dodgerblue;
}
input:checked + .slider {
    box-shadow:0 0 0 2px dodgerblue,0 0 2px dodgerblue;
}

.setting-row:hover{
  background-color: #ECECEC;
}